{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "BarcodeScannerPowerAX",
        "description": "A BarcodeScanner API for PowerAX"
    },
    "host": "zxing.org",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/api",
    "paths": {
        "/barcodes": {
            "get": {
                "tags": [
                    "Barcode"
                ],
                "operationId": "barcodes_get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/barcode"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/barcodes/{id}": {
            "get": {
                "tags": [
                    "Barcode"
                ],
                "operationId": "barcodes_getById",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/barcode"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/barcodes/uploadBarcode":{
          "post":{
    				"tags":[
    				  "barcode"
    				  ],
    				  "summary":"uploads a barcode",
    				  "description":"","operationId":"uploadFile",
    				  "consumes":["application/json"],
    				  "produces":["multipart/form-data","application/xml"],
    				  "parameters":[
    					{
    						"name":"u",
    						"in":"formData",
    						"description":"url with file",
    						"required":false,
    						"type":"string"
    				},
    					{
    						"name":"f",
    						"in":"formData",
    						"description":"file to upload",
    						"required":false,
    						"type":"file"
    				},
    					{
    						"name":"additionalMetadata",
    						"in":"formData",
    						"description":"Additional data to pass to server",
    						"required":false,
    						"type":"string"
    					},
                    ],
                    "responses":{
                      "200":{"description":"successful operation",
                        }
                      },
                    }
              },
    },
    "definitions": {
        "barcode": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "EmailAddress": {
                    "type": "string"
                }
            }
        }
    }
}