{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Contact List",
        "description": "A Swagger-enabled API which communicates with the Dynamics AX instance running on a VM in Azure."
    },
    "host": "poweraxdevtestup1envdevaos.cloudax.dynamics.com",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/api/Services/TestGroup",
    "paths": {
        "/TestService": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "operationId": "getValue",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Contact": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "EmailAddress": {
                    "type": "string"
                }
            }
        }
    }
}